<!-- Hero section -->
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 mt-5 col">
                    <div class="text-center">
                        <!-- <h5 class="text-white-50 text-uppercase fs-5 position-relative hero-text"></h5> -->
                        <div class="clip-text clip-descr text-uppercase lh-1 fw-bold mb-2">OSW Crypto Fund</div>
                        <p class="text-white-50 mb-4 pb-2 ">
                            {% assign hero = site.data[page.lang].main.hero %}
                            {{ hero.text }}
                            <a href="https://opensourcewebsite.org/" 
                            style="text-decoration: none;"> 
                                OpenSourceWebsite 
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
<!-- end -->